<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/activity.css">   
    <script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/js/layer.js" ></script>
    <script src="__PUBLIC__/js/global.js"></script>
    <script src="__PUBLIC__/js/mobile_common.js"></script>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js
    "></script>
    <title>花手眷</title>
</head>
<style>
html{
    height: 100%;
}
.str_index{
    margin: 2%;
   
}
.van-row{
    margin-bottom: 5%;
    margin-top: 8%;
    position: relative;
}
img{
    width: 44px;
    height: 44px;
    border-radius: 50%;

}
.van-col--20 {
    background: aliceblue;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 5%;
    font-size: 70%;
}
small{
    position: absolute;
    top: -30px;
    font-size: 45%;
    left: 50%;
    transform: translate(-45%,0);
}
</style>
<body>
        <div class="tab_nav">
                <div class="header">
                  <div class="h-left"><a class="sb-back" href="javascript:history.back(-1)" title="返回"></a></div>
                  <div class="h-mid">消息详情</div>
                  <div class="h-right">
                    <aside class="top_bar">
                      <div onclick="show_menu();$('#close_btn').addClass('hid');" id="show_more"><a href="javascript:;"></a> </div>
                    </aside>
                  </div>
				</div>
        </div>
    <template id="app">
            <div class="str_index">
                   
                    <van-row v-if="index.store_id==id" v-for="index in fenlei"> 
                            <small>{{index.send_time}}</small>
                            <van-col span="4">
                                <a :href="'/mobile/Store/index/store_id/'+index.store_id+'.html'"><img :src="'{:C('qiniu.url')}/'+index.store_logo" alt=""></a>
                            </van-col>
                            <van-col span="20" >
                                <p>{{index.store_name}}</p>
                                <a>{{index.message}}</a>
                            </van-col>
                    </van-row>
            </div>
    </template>
    <script>
       var app = new Vue({
            el: '#app',
                    data: {
                   fenlei:'',
                   id:''
                },
                methods: {
					
                },
                mounted() {
					// 页面数据请求
					axios({
                        method:'post',
                        url:'/mobile/user/message'
                        }).then((res)=>{
                           this.fenlei=res.data.data
						   console.log(this.fenlei)
                    	});
                        this.id=window.location.href.split('=')[1]
                        console.log(this.id)
                   
                },
                created() {
                    
                   
                   
                    
                },
                })
    </script>
</body>
</html>